.quadrant {
    background-color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 530px;

    .left{
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrapper {
            margin-top: 150px;
            margin-left: 280px;
            padding-right: 20px;
            
        h1 {
            margin-bottom: 0.6em;
        }

        p {
            margin-bottom: 0.6em;
            margin-right: 80px;
        }

        a {
            text-decoration: none;
        }

        }
    }

    .right {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        background-color: rgb(240, 236, 236);
        width: 50%;
        padding-top: 100px;

        .quadOne {
            flex: 50%;
            margin-left:100px;
            justify-content: center;


            .circle {
                background-color: rgb(240, 236, 236);
                border: 3px solid #A88FB8;
                border-radius: 50%;
                box-shadow: 0 0 2px #888;
                height: 120px;
                width: 120px;

                img { 
                    padding: 20px;
                    margin-left: 8px;
                }
                }

                h1 {
                    display: flex;
                    margin-left: 30px;
                    margin-top: 20px;
                    font-size: 20px;
                }
        }

        .quadTwo {
            flex: 50%;
            text-align: right;
            margin-left: -100px;

            .circle {
                background-color: rgb(240, 236, 236);
                border: 3px solid #A88FB8;
                border-radius: 50%;
                box-shadow: 0 0 2px #888;
                height: 120px;
                width: 120px;

                img { 
                    padding: 10px;
                }
                }

                h1 {
                    display: flex;
                    margin-left: 0px;
                    margin-top: 20px;
                    font-size: 20px;
                }
        }

        .quadThree {
            flex: 50%;
            margin-left:100px;

            .circle {
                background-color: rgb(240, 236, 236);
                border: 3px solid #A88FB8;
                border-radius: 50%;
                box-shadow: 0 0 2px #888;
                height: 120px;
                width: 120px;

                img { 
                    padding: 20px;
                    margin-left: 2px;
                }
                }

                h1 {
                    display: flex;
                    justify-content:flex-start;
                    margin-left: 0px;
                    margin-top: 20px;
                    font-size: 20px;
                }
        }

        .quadFour {
            flex: 50%;
            text-align: right;
            margin-left: -100px;

            .circle {
                background-color: rgb(240, 236, 236);
                border: 3px solid #A88FB8;
                border-radius: 50%;
                box-shadow: 0 0 2px #888;
                height: 120px;
                width: 120px;

                img { 
                    padding: 30px;
                }
                }

                h1 {
                    display: flex;
                    margin-left: 30px;
                    margin-top: 20px;
                    font-size: 20px;
                }
        }
    }
}