.about {
    background-color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;

    
        .left{
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .wrapper {
                margin-left: 280px;
                padding-right: 20px;
                
            h1 {
                color: rgb(115, 5, 115);
                margin-bottom: 0.6em;
            }

            p {
                margin-bottom: 0.6em;
                margin-right: 80px;
            }

            a {
                text-decoration: none;
            }

            }
        }

        .right {
            flex: 1;

            img {
                height: 100%;
            }
        }
}