.about {
    width: 100vw;
    height: 70vh;
    background-color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;

    
        .left{
            flex: 1;
            margin: 0;

            h1 {
                color: rgb(115, 5, 115);
            }

            a {
                text-decoration: none;
            }
        

        }

        .right {
            flex: 1;

            img {
                height: 100%;
            }
        }
}