.scream {
    background-image: url("../../../public/assets/banner-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 598px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    

    .wrapper {
        margin: 250px 300px 100px 800px;

        h1 {
            color: rgb(115, 5, 115);
            margin-bottom: 0.2em;
        }

        p {
            margin-bottom: 10px;
        }

        button {
                color: white;
                background-color: #FF7218;
                width: 120px;
                height: 40px;
                border-radius: 5%;
                border: none;
        }

        button:hover {
            background-color: #8e18f6;
            color: white;
          }
    }
}